:root {
  --primary-color: #fff;
  --headings-color: #38598b;
  --paragraphs-color: #093052;
  --hovering-color: #caf1ff;
  --framework-color:#edf8ff;
  --shadow-color:0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff,
                0 0 42px #fff,
                0 0 82px #fff;
  --element-shadow: 0 0 7px #bad7f4,
                   0 0 10px #bad7f4,
                   0 0 21px #fff,
                   0 0 42px #fff,
                   0 0 82px #fff;
  --case-color:rgba(174, 212, 255, 0.5);
}
.navbar-toggler:hover,
.navbar-brand:hover {
  transition: all 100ms ease-in-out;
  opacity: 0.7;
}
html {
  background-color: var(--framework-color);
}
.hero-body {
  background-color: var(--framework-color);
  background-size: cover;
  margin-bottom: -17px;
}
.hero-case {
  background-color: var(--case-color);
  background-size: cover;
  border-radius: 12px;
  box-shadow:var(--element-shadow);
  
  margin: 120px 70px -20px;
  padding: 0 0 55px;
}
h1 {
  color:var(--primary-color);
  font-size: 55px;
  font-family:"Josefin Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 80px;
}
.element {
  height: 250px;
  width: 250px;
  box-shadow:var(--shadow-color);
  animation: bounce 12s ease-in-out infinite alternate,
    nudge 12s linear infinite alternate;
  border-radius: 100%;
}
.bauble1 {
  height: 100px;
  width: 100px;
  box-shadow: var(--shadow-color);
  animation: bauble1 48s ease-in-out infinite alternate;
  border-radius: 100%;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
@keyframes bauble1 {
  0% {
    background-color: rgb(255, 249, 194);
    transform: translate(-350px, -650px);
  }
  25%{
    background-color: rgba(255, 249, 194, 0.9);
    transform: translate(-680px, -150px);
  }
  50% {
    background-color: rgb(222, 253, 224);
    transform: translate(-80px, -150px);
  }
  100% {
    background-color: rgba(222, 253, 224, 0.9);
    transform: translate(-350px, -150px);
  }
}
.bauble2 {
  height: 80px;
  width: 80px;
  box-shadow: var(--shadow-color);
  animation: bauble2 15s ease-in-out infinite alternate;
  border-radius: 100%;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
@keyframes bauble2 {
  0% {
    background-color: rgb(240, 222, 253);
    transform: translate(-800px, -450px);
  }
  25% {
    background-color: rgba(240, 222, 253, 0.8);
    ransform: translate(180px, -120px);
  }
  75% {
    background-color: rgba(255, 221, 221, 0.9);
    transform: translate(-280px, -140px);
  }
 
  100% {
    background-color: rgba(255, 221, 221);
    transform: translate(-350px, -150px);
  }
}
.ball {
  height: 150px;
  width: 150px;
  box-shadow: var(--shadow-color);
  animation: ball 33s ease-in-out infinite alternate;
  border-radius: 100%;
  position: absolute;
  right: 0%;
  bottom: 0%;
}
@keyframes ball {
  0% {
    background-color: rgba(202, 241, 255, 0.2);
    transform: translate(-680px, -600px);
  }
  50% {
    background-color: rgba(202, 241, 255, 0.4);
    transform: translate(-180px, -220px);
  }
  80% {
    background-color: rgba(174, 212, 255, 0.5);
    transform: translate(-100px, -80px);
  }
  100% {
    background-color: rgba(174, 212, 255, 0.6);
    transform: translate(-360px, -120px);
  }
}
@keyframes bounce {
  0%{
    background-color: #fddfdf;
  }
  30%{
    background-color: #fcf7de;
  }
  50% {
    background-color: #defde0;
  }
  80% {
    background-color: #def3fd;
  }
  100% {
    background-color: #f0defd;
  }
}
@keyframes nudge {
  0% {
    transform: translate(80px, 40px);
  }
  50% {
    transform: translate(180px, 80px);
  }
  100% {
    transform: translate(700px, 20px);
  }
}
.g-container {
  filter:contrast(5);
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  position: relative;
}
.word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: switch 9s infinite ease-in-out;
  min-width: 100%;
  margin: 40px auto;
}
.word:nth-child(1) {
  animation-delay: -8s;
}
.word:nth-child(2) {
  animation-delay: -7s;
}
.word:nth-child(3) {
  animation-delay: -6s;
}
.word:nth-child(4) {
  animation-delay: -5s;
}
.word:nth-child(5) {
  animation-delay: -4s;
}
.word:nth-child(6) {
  animation-delay: -3s;
}
@keyframes switch {
  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }
  50%,
  80% {
    filter: blur(190px);
    opacity: 0;
  }
}
.text-container {
  position: relative;
  height: 400px;
  width: 400px;
  animation: text-nudge 40s infinite alternate;
  box-shadow: var(--shadow-color);
  border-radius: 100%;
}
.text {
  color: var(--headings-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  padding: 50px;
}
@keyframes text-nudge {
  0% {
    background-color: rgba(187, 218, 253, 0.5);
    transform: translate(80px, 40px);
  }
  50% {
    background-color: rgba(187, 218, 253, 0.4);
    transform: translate(80px, -20px);
  }
  100% {
    background-color: rgba(187, 218, 253, 0.3);
    transform: translate(400px, 20px);
  }
}
.quote {
  color:var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  padding-left: 40px;
}
.discover-more-link {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding: -20px 25px;
  position: absolute;
  top: 40%;
  left: 10%;
}
.discover-more-link:hover {
  color: var(--headings-color);
}
.about-body {
  background-color: var(--framework-color);
  background-size: cover;
  margin-bottom: -17px;
}
.about-case {
  background-color: var(--case-color);
  background-size: cover;
  border-radius: 12px;
  box-shadow: var(--element-shadow);
  margin: 120px 70px -20px;
}
.about-h1 {
  color: var(--paragraphs-color);
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: -1px;
  text-align: start;
  margin:  50px 0 20px 0;
}
.contact-p {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 1;
  margin: 5px 80px;
  text-align: start;
}
h3 {
  color: var(--primary-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: start;
  margin: 50px 80px;
}
.work-box {
  background-image: url(/images/portrait.png);
  background-size:cover;
  box-shadow:  var(--element-shadow);
  border-radius: 12px;
  padding: 5px 15px 50px;
  margin:  10px 0 100px 0;
}
form {
  max-width: 420px;
  margin: auto ;
}
.message-input {
  color: var(--framework-color);
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
  line-height: 20px;
  background-color: rgba(167, 168, 173, 0.3);
  border: 1px groove rgba(167, 168, 173, 0.2);
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.message-input:focus {
  box-shadow: 2px 2px 20px var(--primary-color);
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
[type="submit"] {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  width: 100%;
  background: rgba(167, 168, 173, 0.2);
  border-radius: 4px;
  border: 1px groove rgba(167, 168, 173, 0.2);
  color: var(--primary-color);
  font-size: 25px;
  margin-bottom: 30px;
  padding: 5px;
  transition: all 0.3s;
  }
[type="submit"]:hover {
  color: var(--hovering-color);
  font-size: 28px;
}
.projects-body {
  background-color: var(--framework-color);
  background-size: cover;
  margin-bottom: -17px;
}
.row{
  display: flex;
  justify-content: center;
}
.projects-case {
  background-color: var(--case-color);
  background-size: cover;
  border-radius: 12px;
  box-shadow: var(--element-shadow);
  margin: 120px 70px -20px;
  padding: 0 0 75px;
}
.projects-h1 {
  color: var(--headings-color);
  font-family: "Josefin-sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 60px 0 -20px;
 
}
.discover-travel,
.discover-weather {
  border-radius: 12px;
  box-shadow: 1px 1px 12px rgb(166, 172, 201);
  transition: all 500ms ease-in-out;
  margin: auto ;

}
.discover-dictionary,
.next-project {
  border-radius: 12px;
  box-shadow: 1px 1px 12px rgb(166, 172, 201);
  transition: all 500ms ease-in-out;
  margin: 8px auto;
}
.discover-travel:hover,
.discover-weather:hover,
.discover-dictionary:hover,
.next-project:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-color);
}
.email-icon,
.github-icon,
.linkedin-icon {
  color: var(--headings-color);
  margin-top: 40px;
  padding: 10px;
  text-decoration: none;
}
.email-icon:hover,
.github-icon:hover,
.linkedin-icon:hover {
  color: var(--hovering-color);
}
.social-media-links {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 20px 0 0;
}
.coder {
  font-size: 13px;
  font-family: monospace;
  letter-spacing: -1px;
}
.open-source-link {
  color: var(--headings-color);
  text-decoration: none;
}
.open-source-link:hover{
  color: var(--hovering-color);
}
@media (max-width: 576px) {
  .hero-case {
    margin: 120px 30px 100px;
    padding: 5px;
  }
  .element {
    animation: bounce 42s ease-out infinite alternate;
    height: 120px;
    width: 120px;
    margin: 20px auto;
  }
  .word {
    font-size: 25px;
    margin-top: -20px;
  }
  .text-container {
    animation: none;
    box-shadow: var(--shadow-color);
    margin: 0 auto;
    height: 250px;
    width: 250px;
  }
  .text {
    font-size: 15px;
  }
  .quote {
    font-size: 15px;
  }
  .ball {
    animation: bounce 28s ease-in-out infinite alternate;
    border-radius: 12px;
    box-shadow: var(--shadow-color);
    margin: 25px auto;
    position: relative;
    height: 50px;
    width: 200px;
  }
  .discover-more-link {
    position: relative;
    left: 25px;
    top: 10px;
  }
  .about-body{
    padding: 0 20px 0;
  }
 .about-case{
    margin: 100px 20px -20px;
  }
  .about-h1{
    font-size: 15px;
    text-align: center;
    margin: -20px -78px;
  }
  .work-box{
    padding: 0;
    margin: -20px 0 40px;
  }
  h3{
    font-size: 30px;
    margin: 0;
  }
  .contact-p{
    font-size: 18px;
    margin: 0;
    padding: 10px ;
  }
  .message-input{
    font-size: 15px;
    padding: 5px;
  }
  textarea{
    height: 80px;
  line-height: 120%;
  }
  [type="submit"]{
    font-size: 15px;
  }
  .projects-case {
    margin: 30px 30px -30px;
  }
  .projects-h1 {
    font-size: 20px;
    margin: 120px 0 20px;
    padding: 20px;
  }
  .discover-weather {
    margin-top: -35px;
  }
  .discover-translation {
    margin: 5px 0 -30px;
  }
  .email-icon,
  .github-icon,
  .linkedin-icon {
    padding: 10px;
    margin: 30px 0 -25px;
  }
  .work-box {
    padding: 40px;
  }
  .coder {
    font-size: 11px;
    padding: 20px;
  }
}
