:root {
  --primary-color: #f3f4f8;
  --headings-color: #38598b;
  --paragraphs-color: #093052;
  --hovering-color: #a2a8d3;
}
.navbar-toggler:hover,
.navbar-brand:hover {
  transition: all 100ms ease-in-out;
  opacity: 0.7;
}
.text p {
  line-height: 1.2;
}
.hero-body {
  background-image: url("../images/wales.png");
  background-size: cover;
  margin-bottom: -17px;
}
h1 {
  color: var(--paragraphs-color);
  font-size: 98px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}
small {
  color: var(--headings-color);
  font-size: 98px;
}
h2 {
  color: var(--headings-color);
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}
h3 {
  color: var(--headings-color);
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
h4 {
  color: var(--paragraphs-color);
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  text-align: center;
  padding: 60px 5px 0 5px;
}
p {
  color: var(--paragraphs-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  letter-spacing: -1px;
  text-align: center;
}
.discover-more-link {
  background: var(--headings-color);
  border-radius: 12px;
  box-shadow: 1px 1px 8px rgb(117, 119, 133);
  color: var(--primary-color);
  font-size: 20px;
  opacity: 0.7;
  padding: 15px 20px;
  text-align: center;
}
.discover-more-link:hover,
.discover-my-projects:hover,
.contact-me-link:hover,
.learn-more-about-travel:hover,
.learn-more-about-weather-hub:hover,
.learn-more-about-dictionary-app:hover,
.learn-more-about-translation-app:hover,
.get-in-touch-link:hover {
  color: var(--hovering-color);
}
.about-body {
  background-image: url("../images/london1.png");
  background-size: cover;
  padding: 10px 0 0;
  margin-bottom: -17px;
}
.about-h1 {
  font-size: 90px;
}
.about-h3 {
  color: var(--headings-color);
  font-family: "Oswald", sans-serif;
  font-size: 37px;
  font-weight: bold;
}
.about {
  margin: 20px;
}
.selfie {
  border: 1px solid var(--headings-color);
  margin-top: 70px;
  width: 400px;
}
.discover-my-projects {
  background: var(--primary-color);
  border: 1px solid var(--headings-color);
  border-radius: 12px;
  color: var(--headings-color);
  font-size: 20px;
  opacity: 0.7;
  padding: 15px 20px;
  text-align: center;
}
.projects-link {
  padding-top: 40px;
  text-align: start;
}
.projects-body {
  background-image: url(/images/londonuk1.png);
  background-size: cover;
}
.projects-h1 {
  padding-top: 60px;
  font-size: 75px;
  font-weight: bold;
}
.projects-h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
.project-travel-p,
.project-weather-p,
.dictionary-p,
.translation-p {
  font-size: 15px;
  padding: 15px;
  text-align: center;
}
.travel-heading,
.weather-heading,
.dictionary-heading,
.translation-heading {
  font-size: 30px;
  padding: 30px 0 5px;
  margin-top: 30px;
}
.learn-more-about-travel,
.learn-more-about-weather-hub,
.learn-more-about-dictionary-app,
.learn-more-about-translation-app {
  background: var(--headings-color);
  color: var(--primary-color);
  font-size: 20px;
  padding: 15px 20px;
}
.travel-img {
  width: 50;
}
.translation-img {
  padding: 20px;
  width: 500px;
}
.weather-img {
  width: 600px;
}
.dictionary-img {
  padding: 40px;
  width: 580px;
}
.get-in-touch-link {
  background: var(--headings-color);
  color: var(--primary-color);
  font-size: 20px;
  padding: 15px 20px;
  margin-left: 160px;
  text-align: center;
}
.contact-body {
  background-image: url("../images/city.png");
  background-size: cover;
  padding: 10px 0 0;
  margin-bottom: -17px;
}
.contact-h1 {
  font-size: 90px;
}
.contact-h3 {
  color: var(--headings-color);
  font-family: "Oswald", sans-serif;
  font-size: 37px;
  font-weight: bold;
}
.contact {
  margin: 20px;
}
.email,
.linkedin-link,
.github-link {
  color: var(--headings-color);
  text-decoration: none;
}
.email {
  color: var(--paragraphs-color);
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 60px;
}
.email:hover,
.linkedin-link:hover,
.github-link:hover {
  color: var(--hovering-color);
}
.social-media-links {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 20px 0 10px;
}
.email-icon,
.github-icon,
.linkedin-icon {
  color: var(--headings-color);
  margin-top: 40px;
  padding: 10px;
  text-decoration: none;
}
.email-icon:hover,
.github-icon:hover,
.linkedin-icon:hover {
  color: var(--hovering-color);
}
.work-box {
  background: white;
  padding: 30px;
}
.get-creative {
  color: var(--headings-color);
  font-size: 28px;
}
.coder {
  font-size: 13px;
  font-family: monospace;
  letter-spacing: -1px;
  margin: 15px;
}
.open-source-link {
  color: #578bbe;
  text-decoration: none;
}
@media (max-width: 576px) {
  h1,
  small,
  .projects-h1,
  .about-contact-h1 {
    font-size: 60px;
    padding-bottom: 0;
  }
  h2 {
    font-size: 40px;
    padding-bottom: 0;
  }
  h3,
  .projects-h2 {
    font-size: 26px;
    margin-top: 20px;
    padding: 10px 0;
  }
  .weather-img {
    width: 500px;
  }
  .dictionary-app {
    width: 400px;
  }
  .about-h3 {
    font-size: 30px;
    padding: 0;
  }
  .contact-h3 {
    font-size: 30px;
    padding: 0;
  }
  .about {
    padding: 30px;
  }
  .contact {
    padding: 30px;
  }
  .about-p {
    padding-bottom: 20px;
    text-align: center;
  }
  h4 {
    padding-top: 20px;
  }
  p {
    font-size: 20px;
    padding: 20px 20px 40px;
  }
  .projects-body {
    padding: 0;
  }
  .projects-link {
    text-align: center;
  }
  .discover-my-projects,
  .discover-more-link,
  .learn-more-about-travel,
  .learn-more-about-weather-hub,
  .learn-more-about-dictionary-app,
  .learn-more-about-translation-app {
    font-size: 18px;
  }
  .email-icon,
  .github-icon,
  .linkedin-icon {
    padding: 10px;
    margin: 30px 0 -25px;
  }
  .work-box {
    padding: 40px;
  }
  .get-creative {
    margin-bottom: -40px;
  }
  .get-in-touch-link {
    font-size: 18px;
    margin: 0;
  }
  .github,
  .linkedin {
    padding: 0;
  }
  .email {
    text-align: center;
    font-size: 20px;
  }
  .coder {
    font-size: 11px;
    padding: 0;
    margin-bottom: -30px;
  }
}
